    <!-- <div class="footer-wrapper">
        <p class="text">版权©地精小库</p>
    </div> -->
    <script src="/javascripts/query-object.js"></script>
    <script src="/javascripts/common.js"></script>
</body>
</html>