<%- include('layout/header')%>

<%- include('widgets/search-wrapper', {
    containerSelector: '#musicListWrapper'
})%>

<div id="musicListWrapper" class="music-list-wrapper">
    
</div>

<%- include('layout/footer')%>